[submodule "libs/minhook"]
	path = libs/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "libs/sigmatch"]
	path = libs/sigmatch
	url = https://github.com/SpriteOvO/sigmatch.git
[submodule "libs/pugixml"]
	path = libs/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "libs/googletest"]
	path = libs/googletest
	url = https://github.com/google/googletest.git
[submodule "libs/directxtex"]
	path = libs/directxtex
	url = https://github.com/microsoft/DirectXTex.git
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui
[submodule "libs/imgui_hex_editor"]
	path = libs/imgui_hex_editor
	url = https://github.com/Teselka/imgui_hex_editor.git
