[submodule "libs/minhook"]
	path = libs/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "libs/sigmatch"]
	path = libs/sigmatch
	url = https://github.com/SpriteOvO/sigmatch.git
[submodule "libs/pugixml"]
	path = libs/pugixml
	url = https://github.com/zeux/pugixml.git
